@charset "UTF-8";

@font-face {
   font-family: 'primitive';
   src: url(primitive.eot);
   src: local('primitive'), url('primitive.ttf') format('truetype');
}
@font-face {
   font-family: 'heroquest';
   src: url(heroquest.eot);
   src: local('heroquest'), url('heroquest.ttf') format('truetype');
}

html {
	height: 100%;
	background-color: black;
}

body {	
    opacity: 1;
    transition: 2s opacity;
	
	min-height: 100%;
	height: 100%;
	width: 100%;
	margin: 0;
	background-image: url(pergamena.jpg);
}
.button, .buttonBack {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
}
.h1 .buttonBack {
	padding:4px 6px;
}
.button:active , .buttonBack:active{
	position:relative;
	top:1px;
}
.buttonBack {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	border:1px solid #942911;
	text-shadow:0px 1px 0px #854629;
}
.buttonBack:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #84CF6C;
	-webkit-box-shadow:inset 0px 1px 0px 0px #84CF6C;
	box-shadow:inset 0px 1px 0px 0px #84CF6C;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4BD01B), color-stop(1, #4BBC15));
	background:-moz-linear-gradient(top, #4BD01B 5%, #4BBC15 100%);
	background:-webkit-linear-gradient(top, #4BD01B 5%, #4BBC15 100%);
	background:-o-linear-gradient(top, #4BD01B 5%, #4BBC15 100%);
	background:-ms-linear-gradient(top, #4BD01B 5%, #4BBC15 100%);
	background:linear-gradient(to bottom, #4BD01B 5%, #4BBC15 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4BD01B', endColorstr='#4BBC15',GradientType=0);
	background-color:#4BD01B;
	border:1px solid #3A9411;
	text-shadow:0px 1px 0px #3A8529;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4BBC15), color-stop(1, #4BD01B));
	background:-moz-linear-gradient(top, #4BBC15 5%, #4BD01B 100%);
	background:-webkit-linear-gradient(top, #4BBC15 5%, #4BD01B 100%);
	background:-o-linear-gradient(top, #4BBC15 5%, #4BD01B 100%);
	background:-ms-linear-gradient(top, #4BBC15 5%, #4BD01B 100%);
	background:linear-gradient(to bottom, #4BBC15 5%, #4BD01B 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4BBC15', endColorstr='#4BD01B',GradientType=0);
	background-color:#4BBC15;
}

.testoBody {
	background-image: url('morcar.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
}
body.buio {
    opacity: 0;
    transition: none;
}
body.fade-out {
    opacity: 0;
    transition: 2s opacity;
}

.logoContainer {
	text-align: center;
    margin-bottom: 10vh;
}
#logo {
	max-height: 20vh;
	max-width: 90vw;
}

.hidden {
	visibility: hidden;
}

.container {
	padding: 5vh 5vw 5vh 5vw;
	height: 90%;
	font-size: 1em;
	font-family: primitive;	
	overflow: hidden;
}

h1 {
	font-size: 3vh;
	text-align: center;
	font-family: heroquest;
	-webkit-margin-before: 0;
	padding: 0 2vw 2vw 2vw;
}
.h1 {
	font-size: 3vh;
	text-align: center;
	font-family: heroquest;
	-webkit-margin-before: 0;
	padding: 0 2vw 2vw 2vw;
	/* display: block; */
	font-weight: bold;
}

input, select {
	font-family: primitive;
}
#tabelloneContainer {
	overflow: auto;
	height: 90%;
	max-width: 90vw;
	position: relative;
}
.centralContent {
	/* margin-top: 20vh; */
	text-align: center;
	font-size: 2vh;
	max-height: 75vh;
	overflow: auto;
}
.centralContent div {
	padding: 2vw;
}

.testoContent {
	text-align: center;
	font-size: 2vh;
	max-height: 69vh;
	width: 86vw;
	overflow: auto;
	bottom: 5vh;
	position: absolute;
	padding-bottom: 1vh;
}
.testoContent div {	
	margin: 2vmin;
	border-style: solid;
	border-width: 4vmin;
	-webkit-border-image: url(bordoScroll.png) 50 repeat; /* Safari 3.1-5 */
	-webkit-border-image-outset: 2vmin;
    -o-border-image: url(bordoScroll.png) 50 repeat; /* Opera 11-12.1 */
	-o-border-image-outset: 2vmin;
    border-image: url(bordoScroll.png) 50 repeat;
	border-image-outset: 2vmin;
    box-shadow: 0 2vmin 4vmin 0 rgba(0,0,0,0.5);
	padding: 1vmin;
	background-image: url(pergamena.jpg);
	overflow: auto;
}

.titoloAvventura {
	/* width: 100%; */
	height: 10vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.tabellone {
	border-collapse: collapse;
	table-layout: fixed;
	width: 780px;
	height: 570px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(pergamenaBW.jpg);
	background-size: 40% 50%;
}

.tabellone .borderSu {
	border-top-width: 3px;
}
.tabellone .borderDx {
	border-right-width: 3px;
}
.tabellone .borderSx {
	border-left-width: 3px;
}
.tabellone .borderGiu {
	border-bottom-width: 3px;
}
.tabellone td {
	border: 1px solid black;
	height: 30px;
	width: 30px;
	background-color: #333;
	padding: 0;
	text-align: center;
    vertical-align: middle;
	color: white;
	box-sizing: border-box;
}

.popupMenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 25vw;
    overflow: auto;
    box-shadow: 0 2vh 4vh 0 rgba(0,0,0,0.5);
    z-index: 1;
	background-image: url(pergamenaBW.jpg);
}

.popupMenu span {
    color: black;
    padding: 2vh 3vw;
    text-decoration: none;
    display: block;
	cursor: pointer;
	border: 1px solid brown;
    white-space: nowrap;
}
.show {
	display:block;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
    display: none;
	background-color: black;
	opacity: 0.3;
	z-index: 15;
}

.risultato {
	font-size: 12pt;
	border-style: solid;
	border-width: 4vmin;
	-webkit-border-image: url(bordoScroll.png) 50 repeat; /* Safari 3.1-5 */
	-webkit-border-image-outset: 2vmin;
    -o-border-image: url(bordoScroll.png) 50 repeat; /* Opera 11-12.1 */
	-o-border-image-outset: 2vmin;
    border-image: url(bordoScroll.png) 50 repeat;
	border-image-outset: 2vmin;
    box-shadow: 0 2vmin 4vmin 0 rgba(0,0,0,0.5);
	padding: 1vmin;
    width: 56vw;
	height: 36vh;
	display: none;	
    position: absolute;
	background-image: url(pergamena.jpg);
	overflow: auto;
	transition: height 1s;
}

.info {
	font-size: 8pt;
}
.mostroContainer {
	width: 400px;
	max-width: 56vw;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	font-size: 11pt;
}
.mostroInfo {
	font-weight: bold;
}
.mostroNome {
	margin-bottom: 10px;
	font-size: 12pt;
}
.mostroImg {
	width: 90px;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.mostroErrante {
	height: 30px;
	width: auto;
}


@supports not (-webkit-overflow-scrolling: touch) {
	.testoContent div, .risultato {	
		border-color: transparent;
	}
}